body {
    background-color: #000000;
    position: relative;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    font-family: Helvetica, Arial, serif, 'Times New Roman', Times;

    .initSVG {
        @keyframes blink{
            0%{opacity: 0.2;}
            50%{opacity: 1;}
            100%{opacity: 0.2;}
        }
        overflow: visible;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s ease-in-out;
        opacity: 0;
        z-index: 4;
        text {
            font-weight: 900;
        }
        text, .arrowPath {
            animation-name: blink;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }
    }
    
    .questionSymbolHolder {
        position: absolute;
        top: 10px;
        left: 10px;
        width: fit-content;
        height: 30px;
        z-index: 3;
        transition: all ease-out 1s;

        &:hover {
            #add {
                fill:#646cd6;
            }
            .about {
                opacity: 1;
            }
        }
        .questionSymbol {
            #add {
                transition: all ease-in-out .3s;
            }
        }

        .about {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 35px;
            color: #646cd6;
            width: 150px;
            opacity: 0;
            transition: all ease-in-out .3s;
            pointer-events: none;
        }
    }

    .instruction {
        position: absolute;
        opacity: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 70%;
        background-color: darkgrey;
        z-index: 3;
        border: 1px solid #dddddd;
        border-radius: 15px;
        transition: all ease-out 1s;
        padding: 0 30px;
        box-sizing: border-box;

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            &:hover {
                rect, path {
                    stroke: #444444;
                }    
            }

            rect, path {
                fill: none;
                stroke: grey;
                stroke-width: 2px;
            }
        }

        p {
            font-size: 1.1em;
        }

        .parentFlex {
            display: flex;
            justify-content: center;
            width: fit-content;
            margin: 0 auto;
            background-color: #636bd856;
            padding: 10px 30px;

            .formulaFlex {
                font-style: italic;
                width: fit-content;
                display: flex;
                align-items: center;
                margin-right: 50px;
                font-size: 1.2em;
                div {
                    margin: 0 3px;
                }
                .MG {
                    border-bottom: 1px solid black;
                }
            }
    
            .params {
                div {
                    text-align: left;
                }
            }
        }
    }

    .instructionBG {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100vh;
        background-color:#74a9d857;
        z-index: 3;
        color: white;
        display: none;
        transition: all ease-out 1s;
    }

    .history {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .flex {
        position: relative;
        height: 100vh;
        color: rgba(255, 255, 255, 0.7);

        .left, .right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 250px;
            height: 350px;
            background-color: rgba(220, 223, 255, 0.3);
            z-index: 2;
            padding: 5px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            box-sizing: border-box;
            transition-property: all;
            transition-timing-function: ease-out;
            transition-duration: .7s;
        }

        .left {
            left: 20px;
            @keyframes blink{
                0%{opacity: 0.2;}
                50%{opacity: 1;}
                100%{opacity: 0.2;}
            }

            .instructionSVG {
                overflow: visible;
                position: absolute;
                top: 0;
                right: -100%;
                transition: opacity 1s ease-out;

                path, text {
                    animation-name: blink;
                    animation-duration: 2s;
                    animation-fill-mode: both;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                }
            }

            .leftTop {
                width: 100%;
                text-align: center;
                margin: 10px auto;
                label {
                    display: block;
                }
                .outOfRange {
                    color: rgb(255, 60, 60);
                    display: none;
                }
                input[type="number"] {
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    width: 60%;
                    border: 2px solid transparent;
                    &:focus {
                        outline: none;
                    } 
                }
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }
                .buttonFlex {
                    display: flex;
                    justify-content: center;
                    margin: 15px 0;
                    input[type="submit"] {
                        width: 40%;
                        color: #ffffff;
                        font-size: 1rem;
                        padding: 2px;
                        border: 1px solid rgba(180, 180, 180, 0.384);
                        border-radius: 5px;
                    }
                    .launchBtn, .abortBtn {
                        &:disabled {
                            background-color: rgb(110, 110, 110);
                            color: rgb(70, 70, 70);
                            pointer-events: none;
                        }
                    }
                    .abortBtn {
                        background-color: rgb(228, 42, 42);
                        &:hover {
                            background-color: rgb(189, 35, 35);
                        }
                    }
                    .launchBtn {
                        margin-right: 10px;
                        background-color: rgb(53, 211, 32);
                        &:hover {
                            background-color: rgb(41, 168, 25);
                        }
                    }
                }
            }

            hr {
                border: none;
                border-top: 1px solid grey;
            }

            .leftBottom {
                display: grid;
                grid-template-columns: 70% 30%;
                grid-template-columns: 135px 80px;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                row-gap: 6px;
                align-items: center;
                width: fit-content;
                margin: 0 auto;

                .use2columns {
                    grid-column-start: 1;
                    grid-column-end: -1;
                }
                
                .timeFlex {
                    display: flex;
                    justify-content: space-between;
                }

                .toRight {
                    margin-left: auto;
                }
                .toRight, .time {
                    color: rgb(10, 221, 221);
                }
            }
        }//.left

        .right {
            right: 20px;

            .rightTop{
                background-color: #3a45da88;
                text-align: center;
                padding: 3px;
                .planetName {
                    font-size: 1.1em;
                    width: fit-content;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin: 0 auto;
                    color: #ffffff;
                    img {
                        width: 18px;
                        margin-left: 7px;
                    }
                }
            }
            
            .rightBottom {
                margin: 10px 0 0 20px;
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }//.right
        
        .middle {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100vh;

            .arrowDown, .arrowUp {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                width: fit-content;
                transition-property: all;
                transition-timing-function: ease-out;
                transition-duration: .7s;
                
                &:hover {
                    .arrowShadow {
                        display: block;
                    }
                }

                .arrowShadow {
                    display: none;
                }

                .arrowDownMssg {
                    position: absolute;
                    bottom: -17px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 300px;
                    text-align: center;
                    color: white;
                }
            }
            .arrowUp {
                z-index: 1;
                opacity: 0;
            }
            
            .scrollBar {
                position: absolute;
                width: fit-content;
                top: 80%;
                left: 50%;
                transform: translateX(-50%);
                height: fit-content;
                opacity: 0;
                transition: opacity ease-out .7s;
                z-index: 1;
                
                .scale {
                    position: relative;
                    width: 160px;
                    height: 40px;
                    border: 1px white solid;
                    border-bottom: none;
                    border-top: none;
                    margin: 0 auto;
                    box-sizing: border-box;

                    .svgArrowLeft, .svgArrowRight {
                        position: absolute;
                        bottom: 0;
                    }
                    .svgArrowLeft {
                        left: 0;
                    }
                    .svgArrowRight {
                        right: 0;
                    }
                    .innerScale {
                        color: white;
                        border-bottom: 1px white solid;
                        text-align: center;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 5px;
                    }
                }
            }
        
            .planetList {
                height: 400px;
                width: fit-content;
                position: absolute;
                top: -200px;
                transform: translateY(-50%);
                opacity: 0;
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: flex-end;
                transition: opacity ease-out .7s, top ease-out .7s;

                .planetLi {
                    width: 300px;
                    width: 230px;
                    box-sizing: border-box;
                    position: relative;
                    border-radius: 15px;
                    
                    .planetContainerLi {
                        position: absolute;
                        bottom: 0;
                        display: none;
                        left: 0;
                        width: 100%;
                        z-index: 0;
                    }
                    .planetLiTop {
                        width: fit-content;
                        margin: 10px auto;
                        color: white;

                        .pName {
                            width: fit-content;
                            padding: 3px 20px;
                            margin: 0 auto 5px;
                            font-size: 1.2em;
                            background-color: #636bd894;
                            display: flex;
                            
                            img {
                                width: 18px;
                                margin-left: 7px;
                            }
                        }
                        .grid {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 1fr 1fr;

                            .gridLeft {
                                width: fit-content;
                                margin: 0 auto;
                            }
                        }
                    }

                    img {
                        display: block;
                        margin: 0 auto;
                        width: 84%;//Use the same value as js file
                    }

                    .forBoxShadow {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 15px;
                        z-index: 1;
                    }
                }

                li.Saturn {
                    .planetImg {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 3px;
                        z-index: -1;
                    }
                }
            }//.planetList
        }//.middle
    }//.flex

    #satellite {
        width: fit-content;
        height: 21px;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        color: white;
        transition-property: opacity, top;
        transition-timing-function: ease-out;
        transition-duration: .7s;

        .satelliteImg {
            width: 100%;
        }

        .launchDirectionImg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            width: 30px;
        }
        .showInitParams {
            width: 300px;
            position: absolute;
            top: -40px;
            left: -70px;
        }
        
    }
    .scale_testing_purpose_only {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 1px solid rgba(255, 255, 255, .1);
        box-sizing: border-box;
        z-index: -1;
    }

    .planetContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -2;
        transition-property: opacity;
        transition-timing-function: ease-out;
        transition-duration: .7s;
        
        img {
            width: 120%;
        }
    }

    @keyframes shine{
        0% {background-color: rgb(255, 255, 255);}
        50% {background-color: rgb(34, 34, 34);}
        100% {background-color: rgb(255, 255, 255);}
    }

    .star {
        position: absolute;
        animation-name: shine;
        animation-iteration-count: infinite;
        z-index: -2;
    }

    .star1 {
        width: 1px;
        height: 1px;
        background-color: white;
    }
    
    .star2 {
        width: 1px;
        height: 1px;
        background-color: white;
    }
    
    .star3 {
        width: 1px;
        height: 1px;
        background-color: rgb(53, 53, 53);
    }

    .star4 {
        width: 1px;
        height: 1px;
        background-color: rgb(109, 103, 158);
    }

    .star5 {
        width: 3px;
        height: 3px;
        background-color: rgb(255, 255, 255);
    }
}

////////////////////////////// Scroll Bar //////////////////////////////

.scrollBar input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 400px;
}

.scrollBar input[type="range"]:focus {
    outline: none;
}

/*------------Track------------*/
.scrollBar input[type="range"]::-webkit-slider-runnable-track {
    // width: 80%;/*working??*/
    width: 500px;
    height: 5px;
    cursor:pointer;
    box-shadow: 0 0 7px #ffffff;
    background: #ffffff;
}

.scrollBar input[type="range"]::-moz-range-track {
    // width: 100%;
    width: 500px;
    height: 5px;
    cursor: pointer;
    box-shadow: 0 0 7px #ffffff;
    background: #ffffff;
}

.scrollBar input[type="range"]::-ms-track {
    // width: 100%;
    width: 500px;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/*------------Thumb------------*/
.scrollBar input[type="range"]::-webkit-slider-thumb {
    height: 9px;
    width: 25px;
    background: #636bd8;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2px;
}

.scrollBar input[type="range"]::-moz-range-thumb {
    height: 9px;
    width: 25px;
    background: #636bd8;
    cursor: pointer;
}

.scrollBar input[type="range"]::-ms-thumb {
    height: 9px;
    width: 25px;
    background: #636bd8;
    cursor: pointer;
}

.scrollBar input[type="range"]::-ms-fill-lower {
    background: #74A9D8;
    border: 0px solid #010101;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #000000;
}

.scrollBar input[type="range"]::-ms-fill-upper {
    background: #74A9D8;
    border: 0px solid #010101;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #000000;
}